{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %}</title>
</head>
<body>
    <nav>
        <h1>BLOG</h1>
        <img src="{{ request.user.photo.url }}" alt="profile">
        <small>{{request.user}}</small>
        <a href="{% url 'home' %}">HOME</a>
        <a href="{% url 'post' %}">ADD POST</a>
        <a href="{% url 'signout' %}">logout</a>
    </nav>
    <hr>
    {% block content %}

    {% endblock %}
</body>
</html>