{% extends 'blog/base.html' %}
{% load static %}
{% block title %}
homepage
{% endblock %}

{% block content %}
<style>
    nav{
        height: 50px;
    }
    .postphoto{
        width: 100%;
        max-height: 300px;
    }

    .posts{
        width: 100%;
    }
    .photo{
        height: 220px;
        overflow-y: hidden;
        margin: 2px;
        border: solid rgb(197, 197, 197) 1px;
        box-shadow: 1px 1px 3px;
    }
    .post{
        display: inline-block;
        width: 200px;
        height: 320px;
        border: solid rgb(197, 197, 197) 1px;
        box-shadow: 1px 2px 4px;
        vertical-align: top;
        padding: 3px;
    }
    h5, p{
        margin: 2px;
        border: solid rgb(226, 226, 226) 1px;
        padding: 4px;
        font-family: Arial, Helvetica, sans-serif;
    }
    .edit-button{
        background: #1100ff;
        color: white;
        border: none;
        padding: 2px;
        text-decoration: none;
        cursor: pointer;
    }
    .delete-button{
        background-color: red;
        color: white;
        float: right;
        border: none;
        padding: 2px;
        cursor: pointer;
    }
    .buttons{
        margin: 5px;
        padding: 5px;
    }
</style>
<div>
    <hr>
    <div class="posts">
        {% for post in posts %}
            <div class="post">
                <div class="photo">
                    <img src="{{ post.photo.url }}" alt="post" class="postphoto">
                </div>
                <h5><a href="{% url 'viewpost' post.id %}">{{post.title}}</a></h5>
                <small>{{post.show}}</small>
            </div>
        {% endfor %}
    </div>

</div>
{% endblock %}