{% extends 'blog/base.html' %}
{% load static %}
{% block title %}
homepage
{% endblock %}

{% block content %}
<style>
    nav{
        height: 50px;
    }
    .postphoto{
        width: 100%;
    }
    .posts{
        width: 100%;
    }
    .post{
        display: inline-block;
        width: 200px;
        height: 300px;
        border: solid black 1px;
        vertical-align: top;
    }
</style>
<div>
    <nav>
        <a href="">HOME</a>
        <a href="">ADD POST</a>
        <a href="{% url 'signout' %}">logout</a>
    </nav>
    <hr>
    <div class="posts">
        {% for post in posts %}
            <div class="post">
                <img src="{{ post.photo.url }}" alt="post" class="postphoto">
                <h5>{{post.title}}</h5>
                <p>{{post.content}}</p>
            </div>
        {% endfor %}
    </div>

</div>
{% endblock %}