{% extends 'blog/base.html' %}
{% load static %}
{% block title %}
homepage
{% endblock %}

{% block content %}
<style>
    .postphoto{
        width: 100%;
        max-height: 300px;
    }

    .posts{
        width: 100%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
    }
    .photo{
        width: 100%;
        overflow-y: hidden;
        margin: 2px;
        border: solid rgb(197, 197, 197) 1px;
        box-shadow: 1px 1px 3px;
    }
    .post{
        flex-grow: 2;
        border: solid rgb(197, 197, 197) 1px;
        box-shadow: 1px 2px 4px;
        width: 300px;
        max-width: 450px;
        padding: 3px;
        margin: 5px;
    }
    h5, p{
        margin: 2px;
        border: solid rgb(226, 226, 226) 1px;
        padding: 4px;
        font-family: Arial, Helvetica, sans-serif;
    }
</style>
<div>
    <hr>
    <div class="posts">
        {% for post in posts %}
            <div class="post">
                <div class="photo">
                    <img src="{{ post.photo.url }}" alt="post" class="postphoto">
                </div>
                <h5><a href="{% url 'viewpost' post.id %}">{{post.title}}</a></h5>
                <small>{{post.show}}</small>
            </div>
        {% endfor %}
    </div>

</div>
{% endblock %}